/* reset styles */

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

/* base styles */

:root {
  --primary-bg-color: hsl(212, 45%, 89%);
  --primary-color: hsl(218, 44%, 22%);
  --p-color: hsl(216, 15%, 48%);
  --white: hsl(0, 0%, 100%);
  --shadow-prop: -1px 1px 7px 2px rgba(215, 212, 212, 0.69);
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  text-align: center;
  padding: 0 16px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 375px;
  height: auto;
  background-color: var(--white);
  border-radius: 10px;
  margin-block-start: 68px;
  padding: 16px;
  box-shadow: var(--shadow-prop);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 85%;
  margin: 0 auto;
}

.code-img {
  width: 100%;
  max-width: 375px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.33em;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 120%;
}
.text {
  padding: 0 8px 16px;
  color: var(--p-color);
  line-height: 120%;
}
.attribution {
  position: absolute;
  top: 2px;
}

.attribution a {
  color: var(--p-color);
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 30%;
    border-radius: 14px;
    padding: 20px;
    margin-block-start: 240px;
  }
  .content {
    max-width: 100%;
  }

  .code-img {
    border-radius: 14px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 1.86em;
    font-weight: 700;
    margin-bottom: 32px;
  }

  .text {
    padding: 0 20px 48px;
    font-size: 1.33em;
    color: var(--p-color);
    line-height: 120%;
  }

  .attribution {
    font-size: 1.33em;
  }
}
